/* You can add global styles to this file, and also import other style files */

/* Disable an Archor tag to be clicked and just behave like a text  */
.disableClick{
    pointer-events: none;
}

/* Override Boostrap Default Color  */
.navbar-default .navbar-nav>li>a {
    color: #363636;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #ffffff;
    background-color: #93c54b;
}

.navbar-default{
 color: #93c54b; 
  background-color: #93c54b;  /** b9eb50 */   
}

.btn-default {
    background-color: #93c54b; 
}

.btn-default:hover{
    background-color: #93c54b;
}

.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus{
    background-color: #93c54b;
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
    background-color: #93c54b;
}

.breadcrumb{
    background-color: #93c54b
}

/*Color green for OPAS Website  */
.greenOpasColor{
    background-color: #93c54b;
}


/* Estas clases son sacadas de bostrap. Son clases de boostrap. Por eso en los 
   medias hay clase que no estan en este css.
*/
.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
  }

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .card-img-top {
    border-top-right-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .card-title {
    margin-bottom: 0.75rem;
  }

  .card-body{
    font-size: 1.3rem;    
  }

  .card-text{
      font-size: 1.5rem;
      padding: 0 0.85rem;
  }

  .card-text:last-child {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.65);
    
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    margin-top: 0;    
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }

  .btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .btn:focus, .btn:hover {
    text-decoration: none;
  }
  
  .btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
            box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  }
  
  .btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
  }
  
  .btn:active, .btn.active {
    background-image: none;
  }

  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
            box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .btn-primary:active, .btn-primary.active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #025aa5;
    background-image: none;
    border-color: #01549b;
  }



  @media (min-width: 576px) {
    .card-deck {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
    }
    .card-deck .card {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 0%;
          -ms-flex: 1 0 0%;
              flex: 1 0 0%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .card-deck .card:not(:first-child) {
      margin-left: 15px;
    }
    .card-deck .card:not(:last-child) {
      margin-right: 15px;
    }
  }
  
  @media (min-width: 576px) {
    .card-group {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
    }
    .card-group .card {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 0%;
          -ms-flex: 1 0 0%;
              flex: 1 0 0%;
    }
    .card-group .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group .card:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
      border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
      border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
      border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
      border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
      border-radius: 0;
    }
  }
  
  @media (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3;
      -webkit-column-gap: 1.25rem;
         -moz-column-gap: 1.25rem;
              column-gap: 1.25rem;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
      margin-bottom: 0.75rem;
    }
  }