<!-- Hacer esto un componente pq lo voy a usar en menu tambien  -->
<div class="card py-1" style="max-width: 30rem;">
  <img class="card-img-top img-fluid" src="../../assets/lunch.jpeg" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-header">Casita cafeteria</h4>
    <p class="card-text">
      La casita cafeteria ofrece comida criolla y desayunos para los estudiantes universitario. Esta ubicada en la universidad de Puerto Rico en Bayamon y esta abierta de lunes a viernes.
    </p>
    <a [routerLink] = "['/menu/cafeteria']" class="btn btn-primary">Ver menu y ordenar </a>
  </div>
</div>
