<div class="jumbotron text-center">
    <h1> Almuerzo Express </h1>
    <p class="lead">Ordena tu comida en linea, sin hacer filas</p>
  <div>
    <a [routerLink] = "['/tiendas']" class="btn btn-primary text-xl-center"> <h5 style="font-size: 17px"> Ver tiendas</h5> </a>
    <!-- <a [routerLink] = "['/login']" class="btn btn-default">Conéctate</a>
  </div>
  <br>
  <p  class="lead">Paga la membresia de Opas</p>
  <button [routerLink]="['/pay']" class="btn btn-primary">Paga aqui</button> -->

</div>
