<!-- Hacer esto un componente pq lo voy a usar en menu tambien  -->
<div class="card py-1" style="max-width: 30rem;">
    <img class="card-img-top img-fluid" src="../../assets/lunch.jpeg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-header">Sandwiches </h4>
      <p class="card-text">
        En este menu podras ver los diferentes tipos de sandwiches que hacemos
      </p>
      <a [routerLink] = "['/pay']" class="btn btn-primary"> Ordenar (pagar) </a>
    </div>
  </div>
  