<!-- Hacer esto un solo componente -->
<div id="accordion" role="tablist">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <!-- <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                <a class = "disableClick"> Sandwich de Jamon y queso </a>
              </label>
          </div>               -->
          <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
            Sandwich Jamon y queso
          </a>
        </h5>
      </div>
      <!-- class = "show" -->
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        </div>
      </div>
    </div>
    
    <!-- Hasta aqui llegaria el componente -->
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <!-- <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="">
                <a class = "disableClick"> Sandwich de Mortadella </a>
              </label>
          </div> -->
          <a class="" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Sandwich de Mortadella
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        </div>
      </div>
    </div>
  </div>
  